:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 41%);
  --very-dark-gray: hsl(0, 0%, 20%);
  --grey-200: hsl(0, 0%, 75%);

  /* Fonts */
  --ff-Josefin-Sans: "Josefin Sans", sans-serif;
  --ff-Alata: "Alata", sans-serif;

  /* Font Weights */
  --fw-light: 300;
  --fw-normal: 400;

  /* Font Sizes */
  --fs-base: 0.9375rem;
  --fs-hero-mobile: 2.5rem;
  --fs-hero-desktop: 4.5rem;
  --fs-title-mobile: 2rem;
  --fs-title-desktop: 3rem;
  --fs-image-text-mobile: 1.5rem;
  --fs-image-text-desktop: 2rem;
  --fs-mobile-nav-link: 2rem;

  /* Spacing Tokens */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 5rem;
  --space-4xl: 6rem;
  --space-5xl: 8rem;
}
